{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<h3>Update Order</h3>
<br>
<div class="row">
    <div class="col-md-8">
        <div class="card card-body">

        <form action = "" method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                {{form}}
                <hr>
            {% endfor %}
            <input type="submit" name="Submit">
        </form>

        </div>
    </div>
</div>

{% endblock content %}